<h1>showcase PrimeNG</h1>

<br><hr>

<h2>tabla bien</h2>

<p-table [value]="cars">
  <ng-template pTemplate="header">
      <tr>
          <th>Código</th>
          <th>Empresa</th>
          <th>Código Postal</th>
          <th>Email</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car>
      <tr>
          <td>{{car.codigo}}</td>
          <td>{{car.empresa}}</td>
          <td>{{car.codigoPostal}}</td>
          <td>{{car.email}}</td>
      </tr>
  </ng-template>
</p-table>

<br><hr>

<h2>Botones preciosos</h2>

<!--<button pButton type="button" label="Click" ></button>-->
<p-button label="Primary" ></p-button>
<p-button label="Secondary" styleClass="ui-button-secondary"></p-button>
<p-button label="Success" styleClass="ui-button-success"></p-button>
<p-button label="Info" styleClass="ui-button-info"></p-button>
<p-button label="Warning" styleClass="ui-button-warning"></p-button>
<p-button label="Danger" styleClass="ui-button-danger"></p-button>

<br><hr>

<h2>Card</h2>
<p-card header="Advanced Card" subheader="Fácil de incluir" [style]="{width: '360px'}" styleClass="ui-card-shadow">
  <p-header>
    <img src="../assets/firulais.jpg" alt="Un tobi">
  </p-header>
  <div>
    Un perro
  </div>
  <p-footer>
    <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
    <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
  </p-footer>
</p-card>

<br><br><hr>

<h3>Selector de fecha</h3>
<p-calendar [(ngModel)]="date1" dateFormat="dd/mm/yy"></p-calendar>

<br><hr>

<h3>Controles</h3>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText> 
    <label for="float-input">Nombre</label>
</span>

<div class="ui-g" style="width:250px;margin-bottom:10px">
    <div class="ui-g-12"><p-checkbox name="group1" value="New York" label="New York" [(ngModel)]="selectedCities" inputId="ny"></p-checkbox></div>
    <div class="ui-g-12"><p-checkbox name="group1" value="San Francisco" label="San Francisco" [(ngModel)]="selectedCities" inputId="sf"></p-checkbox></div>
    <div class="ui-g-12"><p-checkbox name="group1" value="Los Angeles" label="Los Angeles" [(ngModel)]="selectedCities" inputId="la"></p-checkbox></div>
</div>

<h3>Nivel de Calidad {{val}}</h3> 
<p-rating [(ngModel)]="val" [cancel]="false"></p-rating>

<h3>Temperatura</h3>
<p-spinner size="30" [(ngModel)]="temperatura"></p-spinner>
<span id="text">{{text}}</span>

<h3 class="first">Single</h3>
<p-dropdown [options]="cars" [(ngModel)]="selected" placeholder="Selecciona una empresa" optionLabel="empresa"></p-dropdown>
<p>Empresa Seleccionada: {{selected ? selected.empresa : 'none'}}</p>


<h3>Tooltip</h3>
<input type="text" pInputText pTooltip="Escribe tu nombre" tooltipEvent="focus" style="margin-left:.5em">

<h3>dilog (ventana modal)</h3>
